.build/
.swiftpm/
.venv/
.venv312/
Artifacts/
DerivedData/
*.xcodeproj
!SampleApp/BGCategorizationProcessorSampleApp.xcodeproj
!SampleApp/BGCategorizationProcessorSampleApp.xcodeproj/**
xcuserdata/
.DS_Store
